@import 'variables';

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__link {
        font-size: 13px;
        color: #757575;
        position: relative;

        &:hover {
            text-decoration: underline;
        }

        &:after {
            content: '/';
            display: inline-block;
            width: 20px;
            text-align: center;
        }

        &_last {
            &:after {
                content: '';
                width: 0;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 550px) {
    .breadcrumbs {
        &__link {
            color: $fontColor;
            &:after {
                width: 10px;
            }
        }
    }
}