@import 'variables';

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
    &__link {
        font-size: 13px;
        color: #757575;
        position: relative;
        word-break: break-all;
        &:hover {
            text-decoration: underline;
        }

        &:after {
            content: '/';
            display: inline-block;
            width: 20px;
            text-align: center;
        }

        &_last {
            &:after {
                content: '';
                width: 0;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
    &__item:last-child .breadcrumbs__link {
        color: #615353;
    }
    &__item:last-child .breadcrumbs__link:after {
        content: '';
    }
}

@media (max-width: 767px) {
    .breadcrumbs {
        padding: 20px 0;
    }
}

@media (max-width: 550px) {
    .breadcrumbs {
        &__link {
            // color: $fontColor;
            font-size: 12px;
            &:after {
                width: 10px;
            }
        }
    }
}