.footer {
    background-color: $baseColor;
    padding: 30px 0 40px;
    font-size: 15px;
    color: #ffffff;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__logo {
        flex: 160px 0 0;
    }
    &__title {
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__privacy {
        color: #8d8d8d;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    &__info {
        padding-left: 20px;
        flex: 300px 0 1;
        font-weight: 300;
    }
    &__contacts {
        flex: auto 1 1;
        text-align: right;
    }
}
.link.link_privacy {
    color: #8d8d8d;
    font-weight: 300;
}

.contacts {
    &__mail {
        font-size: 19px;
        color: #ff8383;
        font-weight: 500;
    }
}

@media (max-width: 767px) {
    .footer {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__info {
            flex: 50% 1 1;
            padding-left: 5px;
        }
        &__logo {
            flex: 170px 0 0;
        }
        &__contacts {
            flex: 100% 1 1;
            text-align: center;
            margin-top: 20px;
        }
    }
    .contacts {
        &__mail,
        &__text {
            display: inline-block;
        }
    }
}

@media (max-width: 479px) {
     .footer {
        &__logo {
            margin-bottom: 20px;
        }
    } 
}