.main-menu {
    height: 70px;
    border-bottom: 10px solid $accentColor;
    background-color: #ffffff;
    display: flex;
    align-items: center;
   &__list {
        display: flex;
        justify-content: flex-end;
   }
   &__item {
       margin-right: 20px;
       font-weight: 300;
   }

}
.main-menu {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}
.searching {
    flex: 0 0 70%;
    text-align: right;
    &__form {
        position: relative;
        width: 400px;
        margin: 0 0 0 auto; 
        display: flex;
        align-items: center;  
    }
    &__input,
    &__btn {
        outline: none;
        border: none;
    }
    &__input {
        width: 100%;
        height: 32px;
        background: #ffffff;
        padding-left: 15px;
        border-radius: 10px;
        border: 2px solid $accentColor;
        position: relative;
        z-index: 5;
    }
    &__btn {
        height: 32px;
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        cursor: pointer;
        z-index: 10;
        &:after {
            content: "\f002";
            position: absolute;
            right: 8px;
            bottom: 5px;
            font-size: 20px;
            font-family: fontAwesome;
            color: $accentColor;

        }
    }

    ::-webkit-input-placeholder {opacity:1; color: #7c7b7b; font-family: $mainFont; font-weight: 400;}
    ::-moz-placeholder          {opacity:1; color: $accentColor;}/* Firefox 19+ */
    :-moz-placeholder           {opacity:1; color: $accentColor;}/* Firefox 18- */
    :-ms-input-placeholder      {opacity:1; color: $accentColor;}
}