// $blue: #162b3e;
// $accentColor: #fe0000;
// $baseBg: linear-gradient(#363d47, #212c3b);

$baseColor: #000000;
// $fontColor: #44566c;
$fontColor: #444444;
$linkColor: #3f3f3f;
$titleFontColor: #ffffff;
$mainFont: 'Rubik','Arial',sans-serif;
$accentFont: 'Raleway', 'Arial', sans-serif;
$accentColor: #d13030;
$btnGrad2: linear-gradient(#cb2d3e, #ef473a);






$purpleGrad: radial-gradient(at 50% 100%, rgba(123, 22, 255, 0.75), rgb(15, 1, 94)); //background-image
$btnGrad: linear-gradient(rgb(123, 22, 255), rgb(113, 20, 234)), rgb(123, 22, 255); //background&
$greyBgGrad: linear-gradient(45deg, rgba(255, 255, 255, 1) 19%, rgba(241, 241, 241, 1) 47%, rgba(225, 233, 240, 1) 100%); // background:

// $gradBlue2: 

//$gradBlue2: radial-gradient(at 50% 100%, #00c6ff, #0072ff);
$btnGrad: linear-gradient(rgb(123, 22, 255), rgb(113, 20, 234)), rgb(123, 22, 255); //background&
$gradBlue2: radial-gradient(at 50% 100%, #005c97, #363795);
// $btnGrad2: radial-gradient(at 50% 100%, #00c6ff, #0072ff);
// $btnGrad2: radial-gradient(at 50% 100%, #005c97, #363795); - третий синий (выбранный)
// $btnGrad2: linear-gradient(#ff4b1f, #ff9068); нежно оранжеввый


        // background: #494949;
        // background: radial-gradient(at 50% 100%, #abbaab, #ffffff);