@import 'variables';
@import 'footer'; // файл footer.css не будет создан 
@import 'header';
// @import url("font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

/* font-family: 'EB Garamond', 'Times New Roman', serif;
font-family: 'Bitter', 'Times New Roman', serif;
font-family: 'EB Garamond', 'Times New Roman', serif;
*/

/* @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('fonts/Roboto-Regular.eot');
    src: local('☺'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: 'Rubik';
    font-display: swap;
    src: url('fonts/Rubik-Light.eot');
    src: local('☺'),
        url('fonts/Rubik-Light.woff2') format('woff2'),
        url('fonts/Rubik-Light.woff') format('woff'),
        url('fonts/Rubik-Light.ttf') format('truetype'),
        url('fonts/Rubik-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    font-display: swap;
    src: url('fonts/Rubik-Regular.eot');
    src: local('☺'),
        url('fonts/Rubik-Regular.woff2') format('woff2'),
        url('fonts/Rubik-Regular.woff') format('woff'),
        url('fonts/Rubik-Regular.ttf') format('truetype'),
        url('fonts/Rubik-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    font-display: swap;
    src: url('fonts/Rubik-Medium.eot');
    src: local('☺'),
        url('fonts/Rubik-Medium.woff2') format('woff2'),
        url('fonts/Rubik-Medium.woff') format('woff'),
        url('fonts/Rubik-Medium.ttf') format('truetype'),
        url('fonts/Rubik-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    font-display: swap;
    src: url('fonts/Rubik-Bold.eot');
    src: local('☺'),
        url('fonts/Rubik-Bold.woff2') format('woff2'),
        url('fonts/Rubik-Bold.woff') format('woff'),
        url('fonts/Rubik-Bold.ttf') format('truetype'),
        url('fonts/Rubik-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

::-webkit-input-placeholder {opacity:1;}
::-moz-placeholder          {opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {opacity:1;}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;    
    font-family: $mainFont;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
	color: $fontColor;
    max-width: 100%;
	height: auto;
    overflow-x: hidden;
    background: #ffffff;	
	padding: 0;
	margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    color: $linkColor;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
ul, ol{
    list-style: none;
    padding: 0;
}
p, a, ul li, ol li, div{
    -webkit-text-size-adjust: 100%;
}
img{
    display: block;
    max-width: 100%;
    border: none;
    outline: none;    
}
.content-container{
    width: 100%;
    max-width: 1200px;
    height:auto;
    margin: 0 auto;
    padding: 0 15px;
}
.content-big-container{
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
}
.full-width-container{
    width: 100%;
    height: auto;
    margin: 0;    
}
.columns{
    display: -webkit-flex; 
    display: flex; 
    height: auto;
    -webkit-flex-direction: row;    
    flex-direction: row;
    -webkit-align-items: stretch;    
    align-items: stretch; 
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.gap-columns {
    display: flex;
    align-items: stretch;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 0 60px 0;
    justify-content: center;
    &__item-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    &__item {
        padding: 30px;
        height: 100%;
    }
    &__item-head {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
        font-weight: 500;
        font-family: 'Rubik', 'Arial', sans-serif;
    }
}
.phone {
    pointer-events: none;
    white-space: nowrap;
}
.nowrap {
    white-space: nowrap;
}
.button {
    display: inline-block;
    font-family: $mainFont;
    font-size: 19px;
    line-height: 1.6;
    font-weight: 500;
    color: #ffffff;
    padding: 15px;
    background: #313940;
    text-align: center;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        background: #1d2328;
    }
}
.title {
    display: inline-block;
    position: relative;
    width: 100%;
    font-family: $accentFont;
    font-size: 35px;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    padding: 0;
    margin: 0;
}
.subtitle{
    display: inline-block;
    width: 100%;    
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400; 
    color: $blue;
    text-align: left;
    margin: 0;
    padding: 0 0 0 0;
}
.title-wrapper {
    background-color: $blue;
    padding: 30px 0;
    font-family: $accentFont;
    &:before {
        color: red;
    }
}

/* ===================== Media ======================================================= */
@media (max-width: 1279px) and (min-width: 980px) {
    .content-container{
        max-width: 950px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .content-container{
        max-width: 750px;
    }
}
@media (max-width: 767px){
    .content-container{
        width: 100%;
    }
}
@media (max-width: 767px) and (min-width: 480px){
    
}

@media (max-width: 479px) {
    body{
        overflow-x: auto;
    } 
    .content-container{
        min-width: 290px;
    }
    h2, h3, p.title, #content h1{
        text-transform: none;
        padding: 0 0 0 20px;
    }
    
}
