@import 'variables';

.header {
    &__main {
        background-image: url(../images/reestr-page/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 0 40px;
        width: 70%;
    }
    &__title, 
    &__subtitle {
        font-family: $mainFont;
        line-height: 1.3;
        font-weight: 500;
        margin: 40px 0 20px;
    }
    &__title {
        font-size: 40px;    
    }
    &__subtitle {
        font-size: 32px;
    }
    &__article {
        border-left: 3px solid $accentColor;
        padding: 20px 20px 20px 25px;
        position: relative;
        z-index: 10;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #ffffff;
            opacity: 0.5;
            z-index: 0;
        }
    }
    &__text {
        position: relative;
        z-index: 10;
        &_bold {
            font-weight: 500;
            margin-top: 15px;
            text-transform: uppercase;
        }
    }
}

.all-search {
    padding: 40px 0 40px;
    &__search-block {
        width: 30%;
    } 
    &__pagination {
        width: 67%;
    }
    &__columns {
        align-items: flex-start;
    }
}
.search {
    background-color: #ffffff;
    border: 3px solid $accentColor;
    &__title {
        padding: 20px 20px 20px 85px;
        margin: 0;
        font-size: 20px;
        line-height: 1.5;
        font-family: $accentFont;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
        background-color: $accentColor;
        background-image: url(../images/reestr-page/search-icon-white.png);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: 15px 25px;
        color: #ffffff;
    }

    &__body {
        padding: 30px 20px 20px 30px;
    }

    &__subtitle {
        font-weight: 500;
        color: $fontColor;
        line-height: 1.1;
    }

    &__list {
        list-style-type: disc;
        list-style-position: outside;
        padding: 10px 0 25px;
    }

    &__item {
        color: $fontColor;
    }

    &__form {
        width: 100%;
        position: relative;
            ::-webkit-input-placeholder {
                opacity: 0.7;
                color: $fontColor;
                font-family: $mainFont;
                font-weight: 400;
            }

            ::-moz-placeholder {
                opacity: 0.7;
                color: $fontColor;
                font-family: $mainFont;
                font-weight: 400;
            }

            /* Firefox 19+ */
            :-moz-placeholder {
                opacity: 0.7;
                color: $fontColor;
                font-family: $mainFont;
                font-weight: 400;
            }

            /* Firefox 18- */
            :-ms-input-placeholder {
                opacity: 0.7;
                color: $fontColor;
                font-family: $mainFont;
                font-weight: 400;
            }
    }
}

.form {
    &__input,
    &__dropdown {
        width: 100%;
        line-height: 20px;
        height: 50px;
        background-color: #ffffff;
        position: relative;
        padding-left: 15px;
        margin-bottom: 5px;
        outline: none;
        border: 2px solid #000000;
        &:focus {
            outline: none;
            -webkit-box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
            -moz-box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
            box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
        }
    }
    &__input {
        font-family: $mainFont;
        color: #000000;
        font-size: 14px;
    }
    &__undertext {
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        margin-top: 5px;
        text-decoration: underline;
        cursor: pointer;
        color: #222222;
        transition: all 0.3s ease;
        &:hover {
            transition: all 0.3s ease;
            color: #1d7d7d;
        }      
    }
    &__submit {
        width: 100%;
        margin-top: 20px;
    }
    &__select {
        padding-right: 30px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    &__select::-ms-expand {
        display: none;
    }
    &__label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 10px;
        color: #444444;
    }
    &__more-hidden {
        display: none;
        &_visible {
            display: block;
            transition: all 0.3s ease;
        }
    }
        
}

.dropdown {
    position: relative;
    &__button {
        text-align: left;
        cursor: pointer;
        padding-right: 30px;
        line-height: 1.2;
        font-family: $mainFont;
        color: $fontColor;
        font-size: 13px;
        outline: none;
        &:focus,
        &_active {
            outline: none;
            -webkit-box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
            -moz-box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
            box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
        }
        &:after {
            content: "";   
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);        
            display: block;       
            /* Рисуем треугольник */
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10.4px 6px 0 6px;
            border-color: $accentColor transparent transparent transparent;       
            /* Снимаем клик с треугольника */
            pointer-events: none;
            z-index: 10; 
        }
    }
    &__list {
        display: none;
        position: absolute;
        left: 0;
        top: 52px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
        -moz-box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
        box-shadow: 0px 0px 14px 0px rgba(30, 88, 133, 0.32);
        overflow: hidden;
        width: 100%;
        z-index: 20;
        &_visible {
            display: block;
        }
    }
    &__list-item {
        margin: 0;
        padding: 0;
        border: 1px solid #7E9BBD;
        border-bottom: 0px;
        padding: 13px 20px;
        cursor: pointer;
        font-size: 13px;
        line-height: 1.2;
        color: $fontColor;
        position: relative;
        &:last-child {
            border-bottom: 1px solid #7E9BBD;
        }
        &:hover {
            background: rgba(176, 198, 225, 0.26);
        }
    }
    &__input-hidden {
        display: none;
    }
}

.slider {
    padding-left: 65px;
    width: 100%;
    position: relative;
    margin: 0 auto 0 0;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    &__viewport {
        width: 165px;
        height: 100%;
        display: table;
        position: relative;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    &__wrapper {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: calc(100%*6);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27px;
        height: 25px;
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        font-family: $mainFont;
        line-height: 25px;
        transition: all 0.3s ease;
        border-radius: 3px;
        outline: none;
        position: absolute;
        border: 2px solid #000000;
        font-size: 16px;
        &:hover {
            background-color: $accentColor;
            border-color: $accentColor;
            transition: all 0.3s ease;
            outline: none;
            color: #ffffff;
        }
        &_next {
            top: 1px;
            left: 230px;
        }
        &_prev {
            top: 1px;
            left: 35px;
        }
        &_start {
            top: 1px;
            left: 5px;
        }
        &_end {
            top: 1px;
            left: 260px;
        }
    }
}

.pagination {
    &__filter-list {
        padding-left: 0;
        list-style: none;
    }
    &__filter {
        display: inline-block;
        margin-right: 3px;
        width: 30px;
        height: 25px;
    } 
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;  
        width: 30px;
        height: 25px;
        color: #fff;
        background-color: #212121;
        text-decoration: none;
        font-family: $mainFont;
        font-size: 14px;
        transition: all 0.3s ease;
        border-radius: 3px;
        outline: none;
        border: none;
        &:hover {
            background-color: #1d7d7d;
            transition: all 0.3s ease;
            outline: none;
        }
        &_active {
            background-color: $accentColor;
            transition: all 0.3s ease;
            outline: none;
            &:hover {
                background-color: $accentColor;
                transform: scale(1.2);
                transition: all 0.3s ease;
            }
            
        }
    } 
}
.list {
    font-family: $mainFont;
    font-size: 14px;
    margin: 15px 0 0 0;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 5px 10px -2px rgba(48, 71, 88, 0.25);
    -moz-box-shadow: 0 5px 10px -2px rgba(48, 71, 88, 0.25);
    box-shadow: 0 5px 10px -2px rgba(48, 71, 88, 0.25);
    &__item {
        flex: 0 0 50%;
        display:block;
        padding:5px 0 5px 20px;
        cursor: default;   
        &:hover {
            .firstName, .lastName {
                color: #1d7d7d;
                border-color: 1px dashed #1d7d7d;
            }
        }
    }
 }
 
.firstName,
.lastName {
    cursor: pointer;
    border-bottom: 1px dashed $fontColor;
}

// ==================================================== Adaptive ====================================

@media (max-width: 979px)  {
    .header {
        background-color: #f0f1f3;
        &__main {
            background-size: 100%;
        }
        &__title {
            margin-top: 0;
            font-size: 30px;
        }
        &__subtitle {
            font-size: 24px;
            margin-top: 15px;
            margin-bottom: 15px;
        } 
        &__wrapper {
            width: 100%;     
        }
        &__article {
            &:before {
                opacity: 1;
            }
            &_last {
                width: 50%;
            }
        }
    }
    .all-search {
        &__search-block {
            width: 40%;
        }
        &__pagination {
            width: 58%;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &__wrapper {
            padding: 20px 0;
        }
        &__main {
            background-size: 150%;
            background-position: bottom -60px right -60px;
        }
        &__title,
        &__subtitle {
            padding-left: 30px;
        }
    }
    .all-search {
        &__columns {
            flex-direction: column;
        }
        &__pagination,
        &__search-block {
            width: 80%;
            margin: 20px auto;
        }

    }
    .search {
        &__title {
            padding-left: 50px;
            background-image: none;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
                width: 30px;
                height: 30px;
                background-image: url(../images/reestr-page/search-icon-white.png);
                background-size: cover;
                background-size: no-repeat;
            }
        }
    }
}
@media (max-width: 650px) {
    .all-search {
        &__pagination,
        &__search-block {
            width: 100%;
        }

    }
    .header {
        &__main {
            background-size: 140%;
            background-position: bottom -10px right -10px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        &__main {
            background-image: none;
        }
        &__article {
            &_last {
                width: 100%;
            }
        }
    }
    .all-search {
        &__pagination,
        &__search-block {
            width: 100%;
        }
    }
    .list {
        &__item {
            flex: 0 0 100%;
        }
    }
}