.more {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0e3a5d;
  box-shadow: 0 5px 10px -2px rgba(48, 71, 88, 0.25);
}
.more__text {
  color: #ffffff;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.more__text_big {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.more__link {
  border-bottom: 1px dashed #162b3e;
}
.more__button {
  margin: 20px 0 0 0;
}