@charset "UTF-8";
.more {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0e3a5d;
  box-shadow: 0 5px 10px -2px rgba(48, 71, 88, 0.25);
}
.more__text {
  color: #ffffff;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.more__text_big {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.more__link {
  border-bottom: 1px dashed #162b3e;
}
.more__button {
  margin: 20px 0 0 0;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
  cursor: pointer;
}
.rating__body {
  position: relative;
}
.rating__body:before {
  content: "★★★★★";
  display: block;
  color: #e2e2e2;
}
.rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active:before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.rating__value {
  font-size: 60%;
  line-height: 1;
  padding: 0px 10px 0px 10px;
  margin-left: 10px;
  background-color: #ffffff;
  color: #d13030;
  font-weight: 500;
  box-shadow: 0px 0px 7px 2px rgba(34, 60, 80, 0.13);
  border-radius: 6px;
}
.rating__explain {
  font-size: 14px;
  padding-left: 15px;
}
.rating__explain_white {
  color: #ffffff;
}
.rating_big {
  font-size: 40px;
}
.rating_sending {
  opacity: 0.2;
}
.rating_set .rating__active, .rating_set .rating__item {
  cursor: pointer;
}

.attorney {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.attorney__title {
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
}
.attorney__title:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #d13030;
  left: 0;
  top: 0;
}
.attorney__subtitle {
  display: block;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  letter-spacing: 1px;
}
.attorney__left {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.attorney__right {
  width: 30%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.attorney__spacer {
  margin: 25px 0 0;
  box-shadow: 0 5px 10px -2px rgba(48, 71, 88, 0.25);
}
.attorney__image-wrapper {
  margin-top: 30px;
  padding: 0 20px;
}
.attorney__image-wrapper img {
  box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.19);
}
.attorney__region {
  padding-top: 10px;
  border-top: 2px solid #e2e9f1;
  margin: 20px 20px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.attorney__rating {
  margin-top: 15px;
  margin-bottom: 10px;
  align-items: center;
}

.card {
  box-shadow: 0 5px 10px -2px rgba(48, 71, 88, 0.25);
  padding: 20px 0;
  background-color: #ffffff;
  width: 100%;
}
.card__row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 20px 5px 15px;
  background-color: #ffffff;
}
.card__row_top-margin {
  margin-top: 20px;
}
.card__row_white {
  background-color: #ffffff;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.card__graph-container {
  flex: 0 0 49%;
}
.card__graph-container:nth-child(2n+1) {
  margin-right: 2%;
}
.card__graph-container:nth-child(n+3) {
  margin-top: 15px;
}
.card__graph-caption {
  padding: 10px 10px 10px 20px;
  background-color: #f1f1f1;
  font-size: 14px;
}
.card__title {
  flex: 0 0 30%;
  font-weight: 500;
  color: #382c2c;
  line-height: 1.3;
}
.card__title_red {
  color: #d13030;
}
.card__title_equival {
  flex-basis: 45%;
  line-height: 1.2;
  margin-bottom: 10px;
}
.card__title_centered {
  text-align: center;
  margin-bottom: 20px;
}
.card__title_margined {
  margin-top: 20px;
}
.card__text {
  flex: 0 0 70%;
  text-align: left;
  padding-left: 15px;
  font-family: "Rubik", "Arial", sans-serif;
  border-left: 1px solid #000000;
}
.card__text_equival {
  flex-basis: 55%;
  line-height: 1.2;
  margin-bottom: 10px;
}
.card__text_for-images {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.card__text_for-images img {
  margin-right: 10px;
  margin-bottom: 5px;
}
.card__text_shadowed img {
  box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.19);
}
.card_bordered {
  border: 1px solid #000000;
  padding: 20px;
  background-color: #ffffff;
}
.card_border_red {
  border: 2px solid #d13030;
}
.card_border_blue {
  border: 3px solid #0e3a5d;
}
.card_margined {
  margin-top: 25px;
}

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.tooltip:after {
  content: attr(data-reason);
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 30px;
  padding: 10px;
  border: 1px solid #e2e9f1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.19);
  opacity: 0;
  max-width: 550px;
  font-size: 14px;
  z-index: 999;
}
.tooltip:hover:after {
  opacity: 1;
  transition: all 0.4s ease;
}

.spacer {
  background-color: #d4d4d4;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-top: 5px solid #000000;
}
.spacer__title {
  color: #ffffff;
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 500;
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  position: relative;
}

.star {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
  background-color: transparent;
  background-image: url(../images/attorney-page/star.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.perform {
  text-align: center;
}
.perform__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.perform__title_red {
  color: #d13030;
}
.perform__stars {
  text-align: center;
  margin-bottom: 10px;
}
.perform__row {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.3;
}
.perform__row img {
  margin: -15px auto 0;
}
.perform__rate {
  font-family: "Raleway", "Arial", sans-serif !important;
  font-weight: 700;
  color: #d13030;
  font-size: 16px;
  margin-bottom: 20px;
}
.perform__rate_pictured {
  display: inline-block;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.perform__rate_pictured:before {
  content: "";
  position: absolute;
  font-family: fontAwesome;
  font-size: 24px;
  color: #d13030;
  bottom: -7px;
  left: -20px;
}
.perform__note {
  font-size: 14px;
  line-height: 1;
  padding-top: 10px;
  color: #3f3f3f;
  border-top: 1px solid #e9e9e9;
}
.perform__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.perform__logo-container {
  height: 80px;
  margin: 20px 5px 0;
}
.perform__logo-container img {
  height: 100%;
  width: auto;
}

.question {
  background-color: #ffffff;
}
.question__title {
  color: #0e3a5d;
}
.question__button-container {
  margin-top: 20px;
  text-align: right;
}

.other {
  text-align: left;
}
.other__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: block;
}
.other__name {
  display: block;
  color: #1d7d7d;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor;
}
.other__name:hover {
  color: #444444;
}

.feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e3a5d;
  border: none;
  box-shadow: 0 5px 10px -2px rgba(48, 71, 88, 0.25);
}
.feedback__title {
  color: #ffffff;
}
.feedback__btn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: 400;
}
.feedback__btn:hover {
  background-color: #ffffff;
  color: #0e3a5d;
}

@media (max-width: 1279px) {
  .attorney__left {
    width: 63%;
  }
  .attorney__right {
    width: 35%;
  }
}
@media (max-width: 979px) {
  .attorney__columns {
    flex-direction: column;
  }
  .attorney__left {
    width: 100%;
  }
  .attorney__right {
    width: 100%;
    padding-left: 0;
  }
  .attorney__more {
    width: 100%;
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .attorney__title {
    font-size: 30px;
    line-height: 1.2;
  }

  .card__graph {
    flex-direction: column;
  }
  .card__title {
    font-size: 15px;
    line-height: 1.1;
    flex: 0 0 40%;
  }
  .card__text {
    flex: 60%;
  }

  .question__title, .question__text, .question__button-container {
    text-align: center;
  }

  .feedback {
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid #0e3a5d;
  }
  .feedback__title {
    text-align: center;
    color: #0e3a5d;
  }
  .feedback__btn {
    padding: 10px 30px;
    margin-top: 20px;
    border-color: #0e3a5d;
    color: #0e3a5d;
  }
  .feedback__btn:hover {
    background-color: #0e3a5d;
    color: #ffffff;
  }

  .rating__explain_white {
    color: #0e3a5d;
  }
}
@media (max-width: 450px) {
  .attorney__rating {
    flex-wrap: wrap;
    justify-content: center;
  }

  .rating__explain {
    margin-top: 10px;
  }

  .card__row {
    flex-direction: column;
    padding-bottom: 0;
  }
  .card__title {
    text-align: center;
    width: 100%;
    background-color: #f9f9f9;
    padding: 5px 10px 5px 0;
    margin-bottom: 5px;
  }
  .card__text {
    width: 100%;
    border-left: 0;
    padding-left: 0;
    text-align: center;
    font-size: 14px;
  }
  .card__text_shadowed {
    align-items: center;
  }
  .card__text_shadowed img {
    margin: 10px auto 10px;
  }
  .card__text_for-images {
    align-items: center;
  }
  .card__text_for-images img {
    margin-left: auto;
    margin-right: auto;
  }

  .other__name {
    font-size: 14px;
  }
}