@charset "UTF-8";
.rating {
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
  cursor: default;
}
.rating__body {
  position: relative;
}
.rating__body:before {
  content: "★★★★★";
  display: block;
  color: #e2e2e2;
}
.rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active:before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.rating__value {
  font-size: 60%;
  line-height: 1;
  padding: 0px 10px 0px 10px;
  margin-left: 10px;
  background-color: #ffffff;
  color: #d13030;
  font-weight: 500;
  box-shadow: 0px 0px 7px 2px rgba(34, 60, 80, 0.13);
  border-radius: 6px;
  cursor: default;
}
.rating__explain {
  font-size: 14px;
  padding-left: 15px;
}
.rating__explain_white {
  color: #ffffff;
}
.rating_big {
  font-size: 40px;
}
.rating_sending {
  opacity: 0.2;
}
.rating_set .rating__active, .rating_set .rating__item {
  cursor: pointer;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
}
.breadcrumbs__link {
  font-size: 13px;
  color: #757575;
  position: relative;
}
.breadcrumbs__link:hover {
  text-decoration: underline;
}
.breadcrumbs__link:after {
  content: "/";
  display: inline-block;
  width: 20px;
  text-align: center;
}
.breadcrumbs__link_last:after {
  content: "";
  width: 0;
}
.breadcrumbs__link_last:hover {
  text-decoration: none;
}
.breadcrumbs__item:last-child .breadcrumbs__link:after {
  content: "";
}

@media (max-width: 767px) {
  .breadcrumbs {
    padding: 20px 0;
  }
}
@media (max-width: 550px) {
  .breadcrumbs__link {
    color: #444444;
  }
  .breadcrumbs__link:after {
    width: 10px;
  }
}
.footer {
  background-color: #222222;
  padding: 30px 0 40px;
  font-size: 15px;
  color: #ffffff;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__logo {
  flex: 160px 0 0;
}
.footer__title {
  font-weight: 500;
  margin-bottom: 10px;
}
.footer__privacy {
  color: #8d8d8d;
  line-height: 1.2;
  margin-bottom: 10px;
}
.footer__info {
  padding-left: 20px;
  flex: 300px 0 1;
  font-weight: 300;
}
.footer__contacts {
  flex: auto 1 1;
  text-align: right;
}

.link.link_privacy {
  color: #8d8d8d;
  font-weight: 300;
}

.contacts__mail {
  font-size: 19px;
  color: #ff8383;
  font-weight: 500;
}

@media (max-width: 767px) {
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__info {
    flex: 50% 1 1;
    padding-left: 5px;
  }
  .footer__logo {
    flex: 170px 0 0;
  }
  .footer__contacts {
    flex: 100% 1 1;
    text-align: center;
    margin-top: 20px;
  }

  .contacts__mail, .contacts__text {
    display: inline-block;
  }
}
@media (max-width: 479px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: #ffffff;
  font-family: "Rubik", "Arial", sans-serif;
  color: #444444;
}

p {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

.location__header {
  padding-bottom: 30px;
}
.location__list {
  padding: 40px 0;
  background-color: #f2f2f2;
}

.list {
  font-size: 15px;
  line-height: 1.2;
}
.list__row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.list__card {
  flex: 32% 0 0;
  margin-bottom: 15px;
}

.attorney-card {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 4px solid #d13030;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.13);
}
.attorney-card__row {
  margin-bottom: 5px;
}
.attorney-card__row span {
  font-weight: 600;
}
.attorney-card__name {
  font-family: "Raleway", "Arial", sans-serif;
  color: #444444;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  border-bottom: 2px solid #c0c0c0;
}

.rating {
  margin-bottom: 10px;
}